[Unit]
Description=Delayed Pacman keyring initialization timer
Documentation=man:systemd.timer(5)
Requires=etc-pacman.d-gnupg.mount
After=etc-pacman.d-gnupg.mount
Wants=var-rescarch-packages.mount
After=var-rescarch-packages.mount
ConditionPathIsMountPoint=/var/rescarch/packages

[Timer]
OnBootSec=10s
Unit=pacman-init.service

[Install]
WantedBy=timers.target
