[Desktop Entry]
Type=Application
TryExec=konsole
Exec=konsole
Icon=utilities-terminal
StartupNotify=false
Name=Konsole
GenericName=Terminal
Comment=Command line access